@model AgapeaNETCORE.Models.Cliente
@{
    Layout = null;
    //nos creamos una variable para controlar la posicion de la lista en la que se encuentra el contador de direcciones
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - AgapeaNETCORE</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/registro.css" />
    <!--<script src="~/js/JavaScript.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/pselect.js@4.0.1/dist/pselect.min.js"></script>

</head>
<body onload="empezar();">
    <div class="container">
        <!-- Content here -->
        <img src="~/images/Logo.png" />
        <h1>Registro en agapea.com</h1>
        <div>
            <span>Tienes tres opciones para registrarte en Agapea.com. Puedes hacerlo a través de las <span id="color">redes sociales Facebook o Google en 4 segundos</span>. También puedes registrarte con nosotros <span id="color">en menos de 40 segundos</span>. Tan solo rellena el formulario con tus datos.<br><br> En ambos casos, recibirás un correo electrónico en tu cuenta con un enlace con el que confirmarás tus datos, y estarás disfrutando de nuestros servicios y ventajas. </span>
        </div>
    </div>
    <br />
    <form method="GET" asp-controller="Cliente" asp-action="Registro">
        <div class="container contenedorPrincipal">
            <div class="row">
                <div class="col">
                    <h2>Registrate con ...</h2>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-6 col-sm-12 col-md-6 text-center">
                    <button type="button" class="btn btn-primary botonF" title="logueate con facebook"><i id="face" class="fa fa-facebook-f">f</i><span style="transition-duration: 0.6s;">facebook</span></button>
                </div>
                <div class="col-6 col-sm-12 col-md-6 text-center">
                    <button type="button" class="btn btn-primary botonG" title="logueate con google"><i id="gog" class="fa fa-google-plus">g+</i><span style="transition-duration: 0.6s;">google</span></button>
                </div>
            </div>
            <div class="row ">
                <div class="col oBien"><p>o bien crea una cuenta en Agapea</p></div>
            </div>
            <div class="row">
                <div class="col">
                    <h1>Regístrate con Agapea</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class="nombres">Usuario</label>
                        <input type="text" asp-for="@Model.credeUsuario.login" class="form-control" name="usuario" id="usuario" placeholder="Escribe aquí tu usuario" title="rellena este campo" onchange="">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="nombres">Correo electrónico</label>
                        <input type="email" asp-for="@Model.credeUsuario.Email" class="form-control" name="email" id="email" placeholder="Escribe aquí tu correo" title="rellena este campo">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class="nombres">Escribe cuál será tu contraseña</label>
                        <input type="password" asp-for="@Model.credeUsuario.password" class="form-control" name="pass1" id="pass1" placeholder="Escribe aquí tu contraseña" title="rellena este campo">
                        <small class="form-text text-muted">Introduce al menos 8 caracteres</small>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="nombres">Repite tu contraseña</label>
                        <input type="password" class="form-control" name="pass2" id="pass2" placeholder="Repite aquí tu contraseña" title="rellena este campo">

                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col">
                    <h1>Datos Personales</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class="nombres">Mi nombre es</label>
                        <input type="text" asp-for="@Model.Nombre" class="form-control" name="nombre" id="nombre" title="rellena este campo">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="nombres">Mis apellidos son</label>
                        <input type="text" class="form-control" name="apellidos" id="apellidos" title="rellena este campo">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="nombres">Número de NIF</label>
                        <input type="text" class="form-control" name="nif" id="nif" title="rellena este campo"placeholder="Escribe aquí tu NIF con la letra">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h1>Dirección</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class="nombres">Dirección</label>
                        <input type="text" class="form-control" name="direccion" id="direccion" title="rellena este campo" placeholder="Escribe aquí (c/, nº, piso, puerta)">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="nombres">Selecciona provincia</label><br />
                        <select id="ps-prov"></select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="nombres">Selecciona municipio</label><br />
                        <select id="ps-mun"></select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="nombres">CP</label><br />
                        <input type="text" class="form-control" name="CP" id="CP" title="rellena este campo" placeholder="Escribe aquí tu Codigo Postal">
                    </div>
                </div>
            </div>

            <div class="row ">
                <div class="col"><small class="form-text text-muted">Agapea S.A. se compromete a garantizar la seguridad de tus datos y a guardarlos en la más estricta confidencialidad.</small></div>
            </div>
            <div class="row">
                <div class="col">
                    <h1>¿Comó nos conociste?</h1>
                </div>
            </div>
            <div class="row ">
                <div class="col"><small class="form-text text-muted">Queremos saber cómo nos conociste. De todos los sitios donde Agapea está presente, dinos dónde nos has visto.</small></div>
            </div>

            <div class="custom-control custom-radio">
                <input type="radio" id="radioCorreos" name="radioConociste" class="custom-control-input">
                <label class="custom-control-label" for="radioCorreos">Google, Yahoo, Bing...</label>
            </div>
            <div class="custom-control custom-radio">
                <input type="radio" id="radioLibrerias" name="radioConociste" class="custom-control-input">
                <label class="custom-control-label" for="radioLibrerias">Nuestras librerías</label>
            </div>
            <div class="custom-control custom-radio">
                <input type="radio" id="radioRedesSociales" name="radioConociste" class="custom-control-input">
                <label class="custom-control-label" for="radioRedesSociales">Redes sociales</label>
            </div>
            <div class="custom-control custom-radio">
                <input type="radio" id="radioRaPreTV" name="radioConociste" class="custom-control-input">
                <label class="custom-control-label" for="radioRaPreTV">Radio, prensa, televión...</label>
            </div>
            <div class="custom-control custom-radio">
                <input type="radio" id="radioEventos" name="radioConociste" class="custom-control-input">
                <label class="custom-control-label" for="radioEventos">Eventos Culturales</label>
            </div>
            <div class="custom-control custom-radio">
                <input type="radio" id="radioAlguien" name="radioConociste" class="custom-control-input">
                <label class="custom-control-label" for="radioAlguien">Alguien me lo comentó</label>
            </div>
            <span style="font-weight: bold">Publicidad</span>
            <div class="custom-control custom-radio">
                <input type="radio" id="radioOtros" name="radioConociste" class="custom-control-input">
                <label class="custom-control-label" for="radioOtros" style="font-weight: bold">Otros</label>
                <input type="text" class="form-control" id="radioTextoOtros" placeholder="Escribe aquí cómo nos conoces">
            </div>
            <div class="custom-control custom-checkbox cajita">
                <input type="checkbox" class="custom-control-input" id="deseoInfo">
                <label class="custom-control-label" for="deseoInfo">Deseo recibir información sobre libros, novedades y eventos de Agapea.com o sus librerías.</label>
            </div>
            <div class="custom-control custom-checkbox cajita">
                <input type="checkbox" class="custom-control-input" id="aceptoCondiciones">
                <label class="custom-control-label" for="aceptoCondiciones">Acepto la <a>Condiciones de uso</a>, y nuestra <a>política de Cookies</a></label>
            </div>
            <div>
                <span class="cajita">
                    En cumplimiento de los establecido en la legislación vigente en materia de protección de datos de carácter personal, Agapea Factory S.A. le informa que los datos recogidos a través de este formulario serán tratados con la finalidad de gestión de usuarios de nuestra página web y si lo autoriza mediante la casilla correspondiente, el envío de información sobre libros, novedades y eventos organizados por Agapea o por sus librerías, siendo por tanto la legitimación para el tratamiento de los datos personales la ejecución del presente contrato y su consentimiento para la recepción de información.
                    Así mismo le informamos que los datos recogidos los datos recogidos no se cederán datos a terceros salvo obligación legal y que podrá ejercer los derechos de acceso, rectificación, cancelación u oposición, así como los derechos adicionales que le asisten a través de la dirección de email librosurgentes@agapea.com, así como a través de los medios detallados en la información adicional sobre nuestra política de privacidad que puede consultar en la dirección web https://www.agapea.com/politica-cookies-rgpd.php
                </span>
            </div>
            <div class="row">
                <div class="col">
                    <input type="submit" name="botonRegistrar" class="btn btn-outline-primary btn-lg botones botonregistro cajita" >Registrate
                </div>
            </div>
        </div>
    </form>
        <hr />
        <footer>
            <p>
                <br />
                <img alt="Premio Empresa Responsable con la Infancia 2017" title="Premio Empresa Responsable con la Infancia 2017" style="float:right; width: 3%;" src="~/images/Premio.jpg">
                <div style="text-align: center">
                    <a rel="nofollow" id="linkNotaLegal" class="" href="www.google.es">Aviso Legal</a>
                    &nbsp;&nbsp;|&nbsp;&nbsp;
                    <a rel="nofollow" id="linkNotaLegal" class="" href="www.google.es">Condiciones de contratación</a>
                    &nbsp;&nbsp;|&nbsp;&nbsp;
                    <a rel="nofollow" id="linkNotaLegal" class="" href="www.google.es">Política de Privacidad y Cookies</a>
                </div>
            </p>
        </footer>

        <script>
            // Crear el selector pasandole los elementos del dom.

            var prov = document.getElementById('ps-prov');
            var mun = document.getElementById('ps-mun');
            new Pselect().create(prov, mun);


            /*
            function CajasTexto(caja) {
                this.id = caja.id || "";
                this.valor = caja.value || "";
                this.validado = __validar(caja);

                function __validar(cajaValida) {
                    var _patron = new RegExp();
                    switch (cajaValida.id) {
                        case "email":
                            _patron = /^.*\.(es|com|gob)$/;
                            break;
                        case "pass1" || "pass2":
                            _patron = /^[a-zA-z0-9]{6,20}$/;
                            break;
                        default:
                            _patron = /^[a-zA-Z0-9 ]{2,25}$/;
                            break;

                    }
                    return _patron.test(cajaValida.value);
                }
            }

            var cajas = []; //<---array para almacenar objetos del prototipo CajaTexto
            Array.from(document.getElementsByTagName("input"))
                .filter((el) =>
                    el.type == "text" || (el.type == "password") && el.name != "radioTextoOtros")
                .forEach((el) => {//construirme por cada caja un objeto del prototipo CajasTexto

                    cajas.push(new CajasTexto(el));
                })


            //------------------------------------
            // me recorro el array de cajas viendo si todas tienen su propiedad .validado=true, si es así habilito boton REGISTRAR sino lo deshablitio....
            //--------------------------------------

            var _botonRegistrar = document.getElementsByName("botonRegistrar")[0];


            var _formvalidado = true
            cajas.forEach((cajita) => {
                if (cajita.validado == false) {
                    _formvalidado = false;
                }
                if (_formvalidado == false) {
                    _botonRegistrar.setAttribute("visibility", "hidden");
                } else {
                    _botonRegistrar.setAttribute("visibility", "visible");
                }
            })


            var user = document.getElementsByName("usuario")[0];
            user.addEventListener("blur", function (evt) {
                if (evt.target.value == "") {
                    evt.target.setAttribute("style", "border-color:red")
                }
                */

         </script>



    </body>
    </html>



